[submodule "Vendor/Coral"]
	path = Vendor/Coral
	url = https://github.com/Kold011/Coral.git
	branch = main
[submodule "Vendor/efsw"]
	path = Vendor/efsw
	url = https://github.com/Kold011/efsw
[submodule "Vendor/Jolt/JoltPhysics"]
	path = Vendor/Jolt/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
